* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    color: #4C4C4C;
}

h2 {
    font-weight: 400;
    color: #4C4C4C;
    font-size: 1.25rem;
    margin-top: 0.9375rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 3.125rem;
}

a {
    text-decoration: none;
}

section {
    margin: 9.375rem auto 0 auto;
}

.content_container {
    width: 90%;
}

.bold {
    font-weight: 700;
}
 /* Navbar */

.red_m {
    color: #FF4747;
}

.logo {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0 auto;
}

nav ul li a {
    color: #4C4C4C;
    font-size: 1rem;
    font-weight: 500;
}

.navbar_list {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.375rem;
}

.header_buttons {
    margin-top: 0.9375rem;
}

.btn {
    display: inline-block;
    font-weight: 700;
    border-radius: 0.3125rem;
}

.btn_normal {
    padding: 0.9375rem 1.25rem;
}

.btn_red {
    background-color: #FF4747;
    color: white;  
}

.btn_grey {
    color: #4C4C4C;
}

/* Projects Section */

.project_section_title {
    color: #212127;
    text-align: center;
}

.project {
    width: 30%;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.project_img {
    background-color: black;
    height: 256px;
    border-radius: 0.3125rem;
}

#project_image_shareplus {
    background-image: url(../images/shareplus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project_image_testrail {
    background-image: url(../images/python.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project_title {
    margin-top: 0.9375rem;
    font-size: 1.5rem;
    color: #212127;
}

.project_icons {
    margin-top: 0.625rem;
}

.project_icon {
    margin-right: 0.9375rem;
}

i {
    color: #4C4C4C;
}

.project_paragraph {
    width: 85%;
    margin-top: 0.625rem;
    color: #4C4C4C;
    font-size: 1rem;
    line-height: 1.5;
}

.project_buttons {
    margin-top: 1.25rem;
}

/* Skills Section */

.skills_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_icons {
    display: flex;
}

.skills_icon {
    margin-right: 5.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_icon span {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.625rem;
}

/* Contact Section */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.375rem;
    margin-bottom: 2.5rem;
}

.contact_button {
    padding: 1.25rem 1.875rem;
    background-color: #F2F2F2;
    margin-left: 4.375rem;
}

.contact_icon {
    display: flex;
    
}

.contact_icon i span {
    color: #4C4C4C;
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 0.625rem;
    font-weight: 700;
}