:root {
    --main--bg-color: var(--main-white-color);
    --main-green-color: #006942;
    --main-white-color: #fff;
    --regular-text-color: #444444;
    --titles-grey-color: #222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 100%;
}

html {
    overflow-x: hidden;  
}

body {
    background-color: var(--main--bg-color);
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    display: inline-block;
}

.font_awesome_icons {
    background-color: transparent;
    color: #ccc;
    font-size: 1.5rem;
    cursor: pointer;
}

.carousell_button {
    border: 1px solid #ccc;
    background-color: transparent;
    width: .7rem;
    height: .7rem;
    border-radius: 3.125rem;
    cursor: pointer;
    margin-right: .2rem;
}

.transparent_button {
    border: 3px solid transparent;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all ease .3s;
}

.transparent_button_green {
    color: var(--main-green-color);
    border: 3px solid var(--main-green-color) !important;
}

.transparent_button_green:hover {
    background-color: var(--main-green-color);
    border: none;
    color: var(--main-white-color);
}

.transparent_button_white {
    border: 3px solid var(--main-white-color) !important;
    color: var(--main-white-color);
}

.transparent_button_white:hover {
    background-color: var(--main-white-color);
    border: none;
    color: black;
}

.green_text {
    color: var(--main-green-color);
}


.display_none {
    display: none !important;
}

.swiper-pagination {
    position: relative;
    display: none;
}

.translate_side_bar {
    transform: translateX(18.75rem);
}

/* Side Bar Element */

.side_bar {
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18.75rem;
    overflow: hidden;
    right: 0;
    z-index: 2;
    box-shadow: inset 0 0 5px #767676;
    transition: .3s ease transform;
}

.side_bar_x {
    font-size: 1.5rem;
    cursor: pointer;
    color: #4C4C4C;
    right: 0;
    margin: 1.25rem 1.25rem 1.25rem 0;
    align-self: flex-end;
}

.side_bar_link {
    color: #4C4C4C;
    display: block;
    padding: 1.5625rem  0 1.5625rem 1.5625rem;
    border-bottom: 1px solid #e3e3e3;
}

/* Promo Section */

.promo_section {
    display: flex;
    background-color: var(--main-white-color);
    height: 4rem;
    align-items: center;
    justify-content: center;
}

.promo_section_items_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 98%;
    align-items: center;
}

.promo_carousell_button_active {
    background-color: var(--main-green-color);
    border: none;
}

.promo_text {
    color: var(--main-green-color);
    font-size: 1rem;
}

#x_icon {
    color: #ccc;
}

/* Header Section */

#logo {
    width: 9rem;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo_nav_separator {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 3.75rem;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 98%;
}

.nav ul {
    display: flex;
    list-style: none;
}

.regular_navbar_item {
    padding: 0 10px;
}

.nav li a {
    font-size: 1.125rem;
    color: var(--main-white-color);
    position: relative;
}

.dropdown_menu {
    position: absolute;
    top: 3rem;
    left: -2rem;
    background-color: var(--main-white-color);
    color: black;
    width: 80rem;
    padding: 4rem;
    display: flex;
    border: 4px solid #033f72;
}

.dropdown_column {
    margin-right: 6.25rem;
}

.dropdown_column ul {
    display: flex;
    flex-direction: column;
}

.dropdown_column ul li {
    padding: 0.5rem 0 0 0rem;
}

.dropdown_column_title {
    color: #033f72;
    font-weight: bold;
}

.login_button {    
    margin-left: 1.875rem;
    color: var(--main-white-color);
    cursor: pointer;
}

.magnifying_icon {
    color: var(--main-white-color);
}

.header_icon_login_seperator {
    display: flex;
    align-items: center;
}

/* Hero Section */

.hero_section {
    background-image: linear-gradient(300deg, transparent, rgba(100,167,224,1) 100%), url(./media/hero_section_image.png);
    background-size: cover;
    background-position: 50% 50%;
    height: 800px;
    padding-top: 1.563rem;
}

.hero_content {
    padding: 200px 0px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero_section_title {
    font-size: 2.5rem;
    color: var(--main-white-color);
    line-height: 1.1;
    margin-bottom: 1rem;
    letter-spacing: 0.063rem;
}

.hero_section_text {
    margin-bottom: 1rem;
    color: var(--main-white-color);
    line-height: 1.7;
    font-size: 1.125rem;
}

.hero_carousell_buttons_container {
    margin-top: 15rem;
}

.hero_carousell_button_active {
    background-color: var(--main-white-color);
}

/* Why Section */

.why_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.why_section_title {
    color: var(--main-green-color);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.why_section_subtitle {
    color: var(--regular-text-color);
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1.875rem;
}

.why_section_circles {
    display: flex;
    justify-content: space-around;
    margin-top: 3.75rem;
    flex-wrap: wrap;
    width: 100%;
}

.why_section_circle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_section_circle_images {
    width: 240px;
    border: 0.25rem solid #ccc;
    border-radius: 50% !important;
    height: 240px;
    transition: all ease .3s;
}

.why_section_circle_title {
    color: var(--main-green-color);
    font-size: 1.375rem;
    margin-top: 0.625rem;
    text-align: center;
}

.why_section_circle_text {
    margin-top: 0.625rem;
    font-size: 1.125rem;
    color: var(--regular-text-color);
    text-align: center;
}

.why_section_circle_images:hover {
    border: 0.25rem solid var(--main-green-color);
}

/* Personal Banking Section */

.personal_banking_section {
    background-color: #f5f5f5;
    margin-top: 4.688rem;
    padding: 4.688rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal_banking_section_products {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    width: 65%;
    flex-wrap: wrap;
}

.personal_banking_section_title {
    font-size: 2.5rem;
    color: var(--titles-grey-color);
    text-align: center;
}

.personal_banking_section_options_list {
    display: flex;
    list-style: none;
    margin-top: 1.25rem;
}

.list_option {
    font-size: 1.125rem;
    color: var(--regular-text-color);
    text-transform: uppercase;
    margin-right: 1.875rem;
}

.list_option_active {
    color: var(--main-green-color);
    border-bottom: 2px solid var(--main-green-color);
}

.list_option:hover {
    color: var(--main-green-color);
}

.product {
    background-color: var(--main-white-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-top: 5px solid var(--main-green-color);
    box-shadow: 0 2px 12px rgb(0 0 0 / 15%);
    align-items: center;
    justify-content: space-between;
    transition: all ease .3s;
    min-height: 31.25rem;
}

.product:hover {
    box-shadow: 0 2px 40px rgb(0 0 0 / 30%);
}

.product_title {
    font-size: 1.375rem;
    text-align: center;
}

.product_subtitle {
    font-size: 1rem;
    text-align: center;
    color: var(--regular-text-color);
    font-weight: 400;
}

.products_details {
    list-style: none;
    margin: 2rem 0;
}

.product_detail {
    color: #7e7e7e;
    border-bottom: 1px solid #ccc;
    padding: .75em 0 .75em 30px;
    background: transparent url(./media/check-solid.svg) left center no-repeat;
    background-size: 1rem 1rem;
}

.product_detail:nth-child(1) {
    border-top: 1px solid #ccc;
}

.product_links {
    display: flex;
    flex-direction: column;
}

.learn_more_button {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1rem;
}

.products_carousell_buttons {
    align-self: center;
}

.products_carousell_button_active {
    background-color: var(--regular-text-color);
}

/* Resources Section */


section .resource_card .image {
    height: 250px;
    width: 400px;
    display: block;
} 

section .resource_card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.resource_card {
    display: flex;
    justify-content: center;
}

.resources_card_text {
    text-align: center;
    padding-top: 1rem;
    color: var(--regular-text-color);
}

.swiper {
    width: 100%;
}

.resources_section {
    padding: 8rem 4.688rem;

}

.resources_section_title {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.resources_section_subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: var(--regular-text-color);
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
}

.font_awesome_icons {
    cursor: pointer;
}

.carousel_arrows {
    top: 30px;
    position: relative;
}


/* Footer */

footer {
    padding: 5.625rem 1.125rem;
    background-color: #222;
}

.footer_columns_container {
    margin: 0 10.625rem;
    display: flex;
}

.footer_column {
    margin-right: 1.875rem;
    width: 20%;
}

.footer_column_title {
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

.footer_column_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer_column_list_item {
    color: #999;
}

.footer_column_text {
    color: #999;
}

.social_icons {
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    padding: 0.438rem;
    font-size: 1rem;
    margin-right: 0.313rem;    
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rights {
    display: flex;
    justify-content: space-between;
    margin-left: 10.625rem;
    margin-right: 10.625rem;
    margin-top: 5.625rem;
    flex-wrap: wrap;
}

.bars {
    color: white;
    margin-left: 1.875rem;
    display: none;
    cursor: pointer;
}


/* Media Queries */

@media (max-width: 390px) {

    .swiper-backface-hidden .swiper-slide {
        width: 290px !important;
    }

    .swiper-slide {
        margin-right: 0 !important;
    }

    .resources_card_text {
        margin-left: -85px;
    }
}

@media (max-width: 500px) {

    .hero_carousell_buttons_container {
        margin-top: 1rem;
    }

    .hero_section_content_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero_section_title {
        font-size: 1.75rem;
        text-align: center;
    }
    
    .hero_section_text {
        text-align: center;
        font-size: 1rem;
    }

    .hero_content {
        padding: 100px 0px 0px 0px !important;
        justify-content: flex-start;
        margin: 0;
    }

    .hero_section {
        height: 31.25rem;
        background-position: 70% 0;
        background-image: linear-gradient(180deg, transparent, rgba(100,167,224,1) 100%), url(./media/hero_section_image.png);
    }

    .hero_carousell_buttons_container {
        align-self: center;
        width: auto;
    }

    .promo_section_carousell_buttons {
        display: none;
    }

    .promo_section_items_wrapper {
        max-width: 90%;
    }

    .personal_banking_section_products {
        width: 86%;
    }

    #x_icon {
        font-size: 1rem;
    }

    #logo {
        width: 6rem;
    }

    .login_button {
        padding: 5px 15px;
    }
}

@media (max-width: 750px) { 
    .personal_banking_section_title {
        font-size: 1.75rem;
    }
}

@media (max-width: 765px) { 
    .why_section_circle:nth-child(2) {
        margin-top: 3.125rem;
    }

    .why_section_circle {
        flex-basis: 80%;
    }

    .why_section_title {
        font-size: 1.75rem;
    }
}

@media (max-width: 800px) {

    .hero_carousell_buttons_container {
        margin-top: 1rem;
    }

    .resources_section_title {
        text-align: center;
    }

    .resources_section_subtitle {
        text-align: center;
    }

    .hero_section_content_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero_content {
        padding: 150px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_columns_container {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        width: 95%;
    }
    
    .footer_column {
        margin: 0 0 1.875rem 0;
        width: 100%;
    }

    .socials_container {
        margin-top: 1.25rem;
    }

    .footer_column_text:nth-child(2) {
        margin-top: 1.25rem;
    }

    .rights {
        margin: 0;
        justify-content: center;
    }

    .hero_section {
        background-image: linear-gradient(180deg, transparent, rgba(100,167,224,1) 100%), url(./media/hero_section_image.png);
    }
}

@media (max-width: 846px) {
    .resources_card:nth-child(3) {
        margin-top: 2.5rem;
    }
}

@media (max-width: 1020px) {
    .product:nth-child(2) {
        margin-top: 3.125rem;
    }
}

@media (max-width: 1051px) { 
    .why_section_circle:nth-child(3) {
        margin-top: 3.125rem;
    }
}


@media (max-width: 1080px) {
    .nav li a {
        margin-right: 1.5rem;
    }

    .bars {
        display: block;        
    }

    .nav {
        display: none;
    }

    .header_wrapper {
        max-width: 90%;
    }
}

@media (max-width: 1530px) {
    .product:nth-child(3) {
        margin-top: 3.125rem;
    }
}


@media (max-width: 1186px) {
    .resources_card:nth-child(4) {
        margin-top: 2.5rem;
    }

    .resources_arrow {
        display: none;
    }
    
    .swiper-pagination {
        display: block;
    }
}

@media (max-width: 1250px) { 
    .dropdown_menu {
        width: 65rem;
        left: -10rem;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}

@media (max-width: 1450px) { 
    .dropdown_menu {
        left: -10rem;
        width: 65rem;
    }
}

@media (max-width: 1590px) { 
    .dropdown_menu {
        left: -10rem;
        width: 75rem;
    }
}

@media (max-width: 1650px) { 
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -20px;
    }
}